# Visual Studio
.vs/
bin/
obj/
TestResults/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vsconfig

# Resharper
_ReSharper*/
*.DotSettings.user

# Build results
*.log
*.cache

# Database files
EczaneDb.accdb
*.mdf
*.ldf

# Others
*.userprefs

# Node
node_modules/
